[Unit]
Description=Keepass Backup Profile Service
Wants=default.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/keepass-backup.sh
Restart=no
RestartSec=3600
KillMode=process

[Install]
WantedBy=multi-user.target