.idea

Keepass/keepass-backup-script.sh
Keepass/keepass-backup-script.service

Thunderbrid/thunderbird-backup-script.sh
Thunderbrid/thunderbird-backup-script.service

Firefox/firefox-backup-script.sh
Firefox/firefox-backup-script.service

Linux-manjaro-kde-profil/linux-manjaro-kde-profile-backup-script.service
Linux-manjaro-kde-profil/linux-manjaro-kde-profile-backup-script.sh