[Unit]
Description=Linux Manjaro KDE Backup Profile Service
Wants=default.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/linux-manjaro-kde-profile-backup.sh
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target